body {
    font-family: Arial, sans-serif;
    background: rgb(186, 166, 166);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container{
    
  }